body{
    background-color: #19628A;
    font-family: sans-serif;
}

.div1{
    margin: 50px 150px;
    background-color: #D62828;
}

#photo_point img {
    display: flex;
    width: 2rem;
    height: 2rem;
}

#photo_point{
    display: flex;
    background-color: #FCBF49;
    width: 10rem;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

#photo_money img{
    display: flex;
    width: 2rem;
}

#photo_money{
    display: flex;
    background-color: #FCBF49;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.score_point{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-top: 2rem;
}

.titre{
    margin: 10px;
    background-color: #19628A;
    width: 98%;
}

.h1{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
}

#image1 img{
    display: flex;
    width: 16rem;
    height: 16rem;
}

#image1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: white;
    margin: 2rem;
    border-radius: 10px;
}

#image2 img{
    display: flex;
    
    width: 16rem;
    height: 16rem;
}

#image2{
    display: flex;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2rem;
    border-radius: 10px;
}

#image3 img{
    display: flex;
    width: 16rem;
    height: 16rem;
}

#image3{
    display: flex;
    width: 20rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2rem;
    border-radius: 10px;
}

.roulette{
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton button{
    background-color: #FCBF49;
    height:3rem;
    width: 6%;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.combinaison{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
}

.combinaison img{
    width: 15rem;
    height: auto;
    margin-bottom: 1.5rem;
}

